.container-header {
  margin: 30px auto;
  font-size: 1.2em;
  text-align: center;
}

.container-header label {
  display: block;
}

.container-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 100px;
  border-radius: 40px;
  background-color: #fff;
  border: 1px solid #ff3b3f;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}
